.translator-box {
    background-color: rgba(63, 63, 63, 0.95);
    padding: 20px;
    color: #ccc;
    font-family: "Noto Sans", "sans-serif";
    border-radius: 4px;
    border: 1px solid #8b8b8b;
}

.translator-source-text-box,
.translator-target-text-box {
    background: #4c4c4c;
    border: 1px solid #8b8b8b;
    overflow: hidden;
    margin: 0;
    padding: 3px;
}

.translator-source-text-box {
    margin-right: 10px
}

.translator-target-text-box {
    margin-left: 10px
}

.translator-entry {
    caret-color: #a8a8a8;
    caret-size: 2px;
    selected-color: black;
    background: transparent;
    color: #fff;
}

.translator-statusbar-box {
    font-size: 14px;
    color: #ccc;
}

.translator-providerbar-box {
    font-size: 12px;
    font-weight: bold;
}

.translator-buttons-bar-box {
}

.translator-buttons-bar-icon {
    color: #ccc;
    icon-size: 18px;
    padding: 4px;
}

.translator-buttons-bar-icon:hover,
.translator-buttons-bar-icon:active {
    color: #fff;
}

.translator-top-bar-box {
}

.translator-top-bar-button {
    font-size: 18px;
    font-weight: bold;
}

.translator-top-bar-button-reactive {
    color: #ccc;
    font-size: 18px;
    font-weight: bold;
}

.translator-top-bar-button-reactive:hover,
.translator-top-bar-button-reactive:active {
    color: #fff;
}

.translator-top-bar-go-button {
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
    border: 1px solid #8b8b8b;
}

.translator-top-bar-go-button:hover,
.translator-top-bar-go-button:active {
    color: #fff;
}

.translator-dialog-menu-button {
    font-size: 18px;
    padding-top: 2px;
    color: #ccc;
}

.translator-dialog-menu-button:hover,
.translator-dialog-menu-button:active {
    color: #fff;
}

.translator-dialog-menu-toggle-button {
    padding-top: 2px;
    color: #ccc;
}

.translator-dialog-menu-toggle-button:hover,
.translator-dialog-menu-toggle-button:active {
    color: #fff;
}

.translator-language-chooser {
    background-color: rgba(63, 63, 63, 0.95);
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #8b8b8b;
}

.translator-language-chooser-box {
    border: 1px solid #8b8b8b;
    margin: 10px 0;
}

.translator-language-chooser-title {
    color: #ccc;
    font-size: 17px;
    font-weight: bold;
}

.translator-language-chooser-entry {
    size: 10px;
    color: #ccc;
    padding: 3px;
    width: 150px;
    background-color: rgba(63, 63, 63, 0.95);
    caret-color: rgb(0, 0, 0);
    caret-size: 2px;
    selected-color: white;
}

.translator-language-chooser-entry-placeholder {
    color: #ccc;
}

.translator-language-chooser-button {
    padding: 3px;
    font-size: 16px;
    color: #ccc;
}

.translator-language-chooser-button:hover {
    color: #fff;
}

.translator-language-chooser-button:active {
    font-weight: bold;
    color: #fff;
}

.translator-chars-counter-box {
    font-size: 14px;
    padding-bottom: 8px;
}

.translator-chars-counter-text {
    padding-bottom: 8px;
}

.translator-help-box {
    background-color: rgba(63, 63, 63, 0.95);
    border: 1px solid #8b8b8b;
    margin: 10px 0;
}

.translator-help-text {
    font-size: 15px;
    padding: 15px;
    color: #ccc;
}

.translator-popup-escape-label {
    padding-left: 10px;
    padding-top: 5px;
    size: 5px;
    font-style: italic;
    color: grey;
}

.translator-langs-buttons-label {
    padding-left: 10px;
    padding-bottom: 5px;
    font-style: italic;
    color: rgb(160, 160, 160);
    font-size: 15px;
}

.translator-langs-buttons-box {
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.translator-lang-button-box {
    padding: 0 5px;
}

.translator-lang-button {
    font-size: 14px;
    color: #ccc;
}

.translator-lang-button:hover,
.translator-lang-button:active {
    color: #fff;
}

.listen-button {
    margin-top: 10px;
    color: #ccc;
}

.listen-button:hover {
    color: #fff;
}

.listen-button:active {
}
