.translator-box {
    background-color: #222224;
    padding: 20px;
    color: #fff;
    font-family: 'ubuntu', 'sans-serif';
    border-radius: 3px;
    border: 1px solid #111;
}

.translator-source-text-box,
.translator-target-text-box {
    background: #1a1a1a;
    border: 1px solid #333;
    overflow: hidden;
    margin: 0;
    padding: 3px;    /*border-radius: 3px;*/
}

.translator-source-text-box {
    margin-right: 10px
}

.translator-target-text-box {
    margin-left: 10px
}

.translator-entry {
    caret-color: #0af;
    caret-size: 2px;
    selected-color: black;
    background: transparent;
    color: #eee;
}

.translator-statusbar-box {
    font-size: 14px;
    color: #ff0;
}

.translator-providerbar-box {
    font-size: 12px;
    font-weight: bold;
}

.translator-buttons-bar-box {
}

.translator-buttons-bar-icon {
    icon-size: 18px;
    padding: 4px;
}

.translator-buttons-bar-icon:hover {
    color: #0af;
}

.translator-buttons-bar-icon:active {
    color: #f00;
}

.translator-top-bar-box {
}

.translator-top-bar-button {
    font-size: 18px;
    font-weight: bold;
}

.translator-top-bar-button-reactive {
    font-size: 18px;
    font-weight: bold;
}

.translator-top-bar-button-reactive:hover {
    color: #0af;
}

.translator-top-bar-button-reactive:active {
    color: #0af;
}

.translator-top-bar-go-button {
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
    border: 1px solid #aaa;
}

.translator-top-bar-go-button:hover {
    background-color: #0af;
}

.translator-top-bar-go-button:active {
    background-color: rgba(0, 0, 255, 1);
}

.translator-dialog-menu-button {
    font-size: 18px;
    padding-top: 2px;
    color: #fff;
}

.translator-dialog-menu-button:hover {
    color: #f55;
}

.translator-dialog-menu-button:active {
    color: #f00;
}

.translator-dialog-menu-toggle-button {
    padding-top: 2px;
    color: #555;
}

.translator-dialog-menu-toggle-button:hover {
    color: #5f5;
}

.translator-dialog-menu-toggle-button:active {
    color: #0f0;
}

.translator-language-chooser {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #444;
}

.translator-language-chooser-box {
    border: 1px solid #222;
    background-color: #181818;
    margin: 10px 0;
}

.translator-language-chooser-title {
    color: #eee;
    font-size: 17px;
    font-weight: bold;
}

.translator-language-chooser-entry {
    size: 10px;
    color: #fff;
    padding: 3px;
    width: 150px;
    background-color: rgba(64, 64, 64, 0.5);
    caret-color: rgb(0, 0, 0);
    caret-size: 2px;
    selected-color: white;
}

.translator-language-chooser-entry-placeholder {
    color: #0af;
}

.translator-language-chooser-button {
    padding: 3px;
    font-size: 16px;
    color: #fff;
}

.translator-language-chooser-button:hover {
    background-color: rgba(64, 64, 64, 0.3);
}

.translator-language-chooser-button:active {
    font-weight: bold;
    background-color: rgba(64, 64, 64, 0.3);
}

.translator-chars-counter-box {
    font-size: 14px;
    padding-bottom: 8px;
}

.translator-chars-counter-text {
    padding-bottom: 8px;
}

.translator-help-box {
    border: 1px solid #222;
    background-color: #181818;
    margin: 10px 0;
}

.translator-help-text {
    font-size: 15px;
    padding: 15px;
    color: #eee;
}

.translator-popup-escape-label {
    padding-left: 10px;
    padding-top: 5px;
    size: 5px;
    font-style: italic;
    color: grey;
}

.translator-langs-buttons-label {
    padding-left: 10px;
    padding-bottom: 5px;
    font-style: italic;
    color: rgb(160, 160, 160);
    font-size: 15px;
}

.translator-langs-buttons-box {
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.translator-lang-button-box {
    padding: 0 5px;
}

.translator-lang-button {
    font-size: 14px;
    color: #fff;
}

.translator-lang-button:hover {
}

.translator-lang-button:active {
    color: #0af;
}

.listen-button {
    margin-top: 10px;
    color: #555;
}

.listen-button:hover {
    color: #0af;
    text-shadow: 0 0 10px #fff;
}

.listen-button:active {
}
